<!DOCTYPE html>
<html>
<head>
  <title>test</title>
</head>
<body>
<link href="{{ static('css/base.css') }}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="{{ static('js/statistics.js') }}"></script>

<div id="content">
	<h1>Total sales amount:</h1>
	<h2 id="total_sales"> {{total_sales_amount}} <h2>
	<h1>Average amount per order:</h1>
	<h3 id="average">{{average_amount_per_order}}</h3>
</div>
				
</body>
</html>
